VITE_API='<API_URL>/api'
VITE_API_SERVER='<API_URL>'
VITE_APP_UI_VERSION='2.5.0'
VITE_APP_NAME='<APP_NAME>'
VITE_ENV_MODE='PROD'
VITE_ENV_NOTIFICATION_TOPIC='<NOTIFICATION_TOPIC>'
VITE_ENV_NOTIFICATION_SERVER='<NOTIFICATION_SERVER>'
VITE_PLAUSIBLE_DOMAIN='<PLAUSIBLE_DOMAIN>'
VITE_PLAUSIBLE_APP='<PLAUSIBLE_APP>'
VITE_PLAUSIBLE_API='<PLAUSIBLE_API>'
